{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}title{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/pure-min.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="{% static "css/flipclock.css" %}">
        <script src="{% static "js/jquery-1.11.0.min.js" %}"></script>
        <script src="{% static "js/flipclock.min.js" %}"></script>
    </head>
    <body>
        <div id="content">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="pure-g-r">
            {% if user.is_authenticated %}
                <div class="pure-u-1">
                <div id="loggedin-menu"><a href="{% url "me" %}">View your page</a> <a href="{% url "edit" %}">Edit your page</a> <a href="{% url "logout" %}">Logout</a></div>
                </div>
            {% else %}
            <div class="pure-u-1">
                <div id="login-link">Quitting too? Want your own page? <a href="#" id="signup">Sign up</a> - <a href="#" id="login">Log in</a></div>
            </div>
            {% endif %}
        </div>
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div id="signup-box">
                    <form class="pure-form" action="{% url "signup" %}" method="post">
                    {% csrf_token %}
                    {{ signup_form.email }}
                    <input type="submit" value="Signup"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div id="login-box">
                    <form class="pure-form" action="{% url "login" %}" method="post">
                    {% csrf_token %}
                    {{ login_form.email }} {{ login_form.password }}
                    <input type="submit" value="Login"/>
                    </form>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div id="footer">
                    <strong>{{ sitename }}</strong> made by {{ contact.0 }} - {{ contact.1 }}
                </div>
            </div>
        </div>
        </div>
        <script type="text/javascript">
        $('#signup').click(function(e){
            e.preventDefault();
            $('#login-box').slideUp(function(){
                $('#signup-box').slideToggle();
            });
        });

        $('#login').click(function(e){
            e.preventDefault();
            $('#signup-box').slideUp(function(){
                $('#login-box').slideToggle();
            });
        });
        </script>
    </body>
</html>
