{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quit smoking and help a charity</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/pure-min.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <script src="{% static "js/jquery-1.11.0.min.js" %}"></script>
    </head>
    <body>
        <div id="content" class="home">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="pure-g-r">
                <div class="pure-u-1">
                    <div id="home-header">
                        <h1>Quit smoking</h1>
                        <h2>Get support</h2>
                        <h3>Donate to your favorite charity</h3>
                        <form class="pure-form" action="{% url "signup" %}" method="post">
                        {% csrf_token %}
                        {{ signup_form.email }}
                        <input type="submit" value="Sign up" id="home-signup" class="pure-button" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="pure-g-r">
                <div class="pure-u-1-3">
                    <div id="home-block-left" class="home-block">
                        <h4>See what you save</h4>
                        <p>The first days are the hardest. Get your profile page and track what you save, you'll quickly realize that every day is a reward.</p>
                    </div>
                </div>
                <div class="pure-u-1-3">
                    <div id="home-block-center" class="home-block">
                        <h4>Donate to a charity</h4>
                        <p>Not smoking again is the tough part. Donate to your favorite charity, it will make your decision even more meaningful.</p>
                    </div>
                </div>
                <div class="pure-u-1-3">
                    <div id="home-block-right" class="home-block">
                        <h4>Get support</h4>
                        <p>Motivation is all you need, and when you'll get a friend pledging to donate $20 if you reach 30 days, you'll see how well it works.</p>
                    </div>
                </div>
            </div>
            <div class="pure-g-r">
                <div class="pure-u-1">
                    <div id="home-example"{% if featured.current_beneficiary.banner %} style="background: url({{featured.current_beneficiary.banner.url}})" {% endif %}>
                        <a href="{% url "user" slug="francois" %}" class="pure-button">See an example</a>
                    </div>
                </div>
            </div>
            <div class="pure-g-r">
                <div class="pure-u-1">
                    <div id="home-featured">
                        <h4>Featured profile</h4>
                        <img src="{{ featured.current_beneficiary.logo.url }}" />
                        <p><a href="{% url "user" slug="francois" %}">{{ featured.user.first_name }}</a> has quit {{ featured.duration.days }} days ago and raised ${{ featured.total_amount|floatformat:"0" }} for <a href="{{ featured.current_beneficiary.url }}" target="_blank">{{ featured.current_beneficiary.name }}</a>.</p>
                        <div id="testimony-box"><span class="quote">&#x201c;</span>{{ featured.testimony }}<span class="quote">&#x201d;</span> - - {{ featured.user.first_name }}</div>
                    </div>
                </div>
            </div>
            <div class="pure-g-r">
                <div class="pure-u-1">
                    <div id="footer">
                        <strong>{{ sitename }}</strong> made by {{ contact.0 }} - {{ contact.1 }} - Charity bank photo <a href="http://www.flickr.com/photos/fhwrdh/" target="_blank">&copy;fhwrdh</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
