{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
 <table border="0" cellpadding="0" cellspacing="0" width="500">
  <tr>
   <td>
    <p>{% trans "Hi!" %}</p>
    <p>{% blocktrans with first_name=pledge.beneficiary.quitter.first_name days=pledge.days %}{{ first_name }} hasn't smoked for {{ days }} days.{% endblocktrans %}</p>
    <p>{% blocktrans with currency=pledge.beneficiary.quitter.profile.currency amount=pledge.amount beneficiary=pledge.beneficiary.name %}You pledged to donate {{ currency }}{{ amount }} to {{ beneficiary }}.{% endblocktrans %}</p>

    <p>{% trans "Follow these two steps and you're done:" %}</p>
   </td>
  </tr>
  <tr>
   <td>
      <p align="center">
      <a href="{{ pledge.beneficiary.donate_url }}" style="background:#E6E6E6;color:#666;display:inline-block;width:auto; text-align:center;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;text-decoration:none;border:10px solid #E6E6E6;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);">{% trans "Donate" %}</a>
      <a href="{{ url }}" style="background:#E6E6E6;color:#666;display:inline-block;width:auto; text-align:center;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;text-decoration:none;border:10px solid #E6E6E6;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);">{% trans "Confirm your donation" %}</a>
      </p>
      <br />
      <p>{% blocktrans with donate_url=pledge.beneficiary.donate_url %}or click the following links: {{ donate_url }} and {{ url }}{% endblocktrans %}</p>
   </td>
  </tr>
  <tr>
   <td>
    <p>{% trans "A big thank you!" %}</p>
    <p>{{ signature }}</p>
    <p><a href="{{ website_url }}">{{ website_url }}</a></p>
   </td>
  </tr>
 </table>
</body>
</html>
