{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Edit your profile{% endblock %}
{% block content %}
{% if user.has_usable_password %}
<div class="pure-g-r">
    <div class="pure-u-1">
        <div id="edit-box">
            <form class="pure-form pure-form-aligned" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend>Profile</legend>
                <div class="pure-g-r">
                    <div class="pure-u-1">
                        <div class="pure-control-group">
                        {{ user_form.first_name.label_tag }}
                        {{ user_form.first_name }}
                        {{ user_form.first_name.errors }}
                        </div>
                        <div class="pure-control-group">
                        {{ profile_form.slug.label_tag }}
                        {{ profile_form.slug }}
                        {{ profile_form.slug.errors }}
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Settings</legend>
                <div class="pure-g-r">
                    <div class="pure-u-1-2">
                        <div class="pure-control-group">
                        {{ profile_form.quit_date.label_tag }}
                        {{ profile_form.quit_date }}
                        {{ profile_form.quit_date.errors }}
                        </div>
                        <div class="pure-control-group">
                        {{ profile_form.cigarettes_per_day.label_tag }}
                        {{ profile_form.cigarettes_per_day }}
                        {{ profile_form.cigarettes_per_day.errors }}
                        </div>
                        <div class="pure-control-group">
                        {{ profile_form.pack_price.label_tag }}
                        {{ profile_form.pack_price }}
                        {{ profile_form.pack_price.errors }}
                        </div>
                    </div>
                    <div class="pure-u-1-2">
                        <div class="pure-control-group">
                        {{ profile_form.pack_size.label_tag }}
                        {{ profile_form.pack_size }}
                        {{ profile_form.pack_size.errors }}
                        </div>
                        <div class="pure-control-group">
                        {{ profile_form.donation_percentage.label_tag }}
                        {{ profile_form.donation_percentage }}
                        {{ profile_form.donation_percentage.errors }}
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Charity</legend>
                <div class="pure-g-r">
                    <div class="pure-u-1-2">
                        <div class="pure-control-group">
                        {{ profile_form.current_beneficiary.label_tag }}
                        {{ profile_form.current_beneficiary }}
                        {{ profile_form.current_beneficiary.errors }}
                        </div>
                        <br />
                        <div id="beneficiary-form">
                        {% with beneficiary_form as form %}
                        {% include "beneficiary_form.html" %}
                        {% endwith %}
                        </div>
                    </div>
                    <div class="pure-u-1-2">
                        <div><em>Or create a new one</em></div>
                        <br />
                        <br />
                        {% with new_beneficiary_form as form %}
                        {% include "beneficiary_form.html" %}
                        {% endwith %}
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Testimony</legend>
                <div class="pure-g-r">
                    <div class="pure-u-2-5">
                        <div class="pure-control-group">
                        {{ profile_form.testimony }}
                        {{ profile_form.testimony.errors }}
                        </div>
                    </div>
                    <div class="pure-u-3-5">
                        <div class="pure-control-group">
                        {{ profile_form.video_url.label_tag }}
                        {{ profile_form.video_url }}
                        {{ profile_form.video_url.errors }}
                        </div>
                        {% if user.profile.video_embed_url %}
                        <div class="pure-control-group">
                            <div id="current-video">
                            <label></label><a href="{{ user.profile.video_embed_url }}" target="_blank">{{ user.profile.video_embed_url }}</a>
                            </div>
                        </div>
                        {% endif %}
                        <div class="pure-control-group">
                        <label>or</label>
                        </div>
                        <div class="pure-control-group">
                        {{ profile_form.picture.label_tag }}
                        {{ profile_form.picture }}
                        {{ profile_form.picture.errors }}
                        </div>
                    </div>
                </div>
            </fieldset>
            <p><input type="submit" name="update" value="Update" /></p>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
$('#id_current_beneficiary').change(function(e){
    $.get('{% url "beneficiary_form" 1 %}'.replace('1', $(e.target).val()), function(response){
        $('#beneficiary-form').html(response);
    })
});
</script>
{% endif %}
<div class="pure-g-r">
    <div class="pure-u-1">
        <div id="password-box">
            <form class="pure-form" action="" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>
                    {% if user.has_usable_password %}
                    Update your password
                    {% else %}
                    Set your password
                    {% endif %}
                    </legend>
                    {{ password_form.new_password1 }} {{ password_form.new_password1.errors }}
                    {{ password_form.new_password2 }} {{ password_form.new_password2.errors }}
                </fieldset>
                <p><input type="submit" name="update_password" value="Update password" /></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
