{% extends "base.html" %}

{% block title %}Support {{ profile.user.first_name }} for quitting smoking by supporting a charity{% endblock %}
{% block content %}
<div class="pure-g-r">
    <div class="pure-u-2-5">
        <div class="hello-box">
            <h1>Hello</h1>
            <h2>My name is</h2>
            <div class="name">
            {{ profile.user.first_name }}
            </div>
        </div>
    </div>
    <div class="pure-u-3-5">
        <div id="since-box">
            <div id="since-message">I haven't smoked for</div>
            <div id="clock"></div>
            <div id="charity-box">
                and {{ profile.donation_percentage }}% of what I save goes to
            </div>
        </div>
    </div>
</div>
<div class="pure-g-r">
    <div class="pure-u-1">
        <div id="beneficiary-box">
             <div id="beneficiary">{{ profile.current_beneficiary.name }}</div>
             with your help, I've raised
             <div id="total-amount">${{ profile.total_amount|floatformat }}</div>
        </div>
    </div>
</div>
<div class="pure-g-r">
    <div class="pure-u-3-5">
        <div id="testimony-box">
            <p>There are tons of good reasons to quit smoking. And there are tons of bad ones to start again.
            To keep motivation and to make it a bigger deal than my own health, I've decided to give the money
            I save to help gorillas.</p>
            <p>Through books, movies and Internet, I've become more and more conscious about the wildlife and how
            we need to protect it from ourselves. It's because of a special affinity with gorillas that I've picked this
            non-profit.</p>
            <p>Now, every time I crave for a cigarette, I look at this page and it reminds me that I'm not only doing it for
            me. The more you will support DFGFI, the more you will support me. Thank you!</p>
        </div>
    </div>
    <div class="pure-u-2-5">
        <div id="media-box">
            <iframe src="//player.vimeo.com/video/9337835?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="360" height="243" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="pure-g-r">
    <div class="pure-u-1-3">
        <div id="donations-box">
            <h1>Donations</h1>
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <div id="donation-box-top-left" class="donation-box">
                        <div class="donation-label">My donations</div>
                        <div class="donation-value">${{ profile.amount_donated }}</div>
                    </div>
                </div>
                <div class="pure-u-1-2">
                    <div id="donation-box-top-right" class="donation-box">
                        <div class="donation-label">My pledges</div>
                        <div class="donation-value">${{ profile.amount_pledged|floatformat }}</div>
                    </div>
                </div>
            </div>
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <div id="donation-box-bottom-left" class="donation-box">
                        <div class="donation-label">Supporters' donations</div>
                        <div class="donation-value">${{ profile.supporter_donations }}</div>
                    </div>
                </div>
                <div class="pure-u-1-2">
                    <div id="donation-box-bottom-right" class="donation-box">
                        <div class="donation-label">Supporters' pledges</div>
                        <div class="donation-value">${{ profile.supporter_pledges }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pure-u-1-3">
        <div id="pledge-box">
            <h1>Support us</h1>
            <form action="{% url "pledge_create" profile.current_beneficiary.id %}" method="post" id="pledge-form" class="pure-form">
            <div class="pure-g-r">
                <div class="pure-u-2-5">
                <label for="id_days">when I reach</label>
                </div>
                <div class="pure-u-3-5">
                {{ form.days }}
                </div>
            </div>
            <div class="pure-g-r">
                <div class="pure-u-2-5">
                <label for="id_amount">you'll donate</label>
                </div>
                <div class="pure-u-3-5">
                {{ form.amount }}
                </div>
            </div>
            <div class="pure-g-r">
                <div class="pure-u-2-5">
                <label for="id_email">Remind you at</label>
                </div>
                <div class="pure-u-3-5">
                {{ form.email }}
                </div>
            </div>
            <div><input type="submit" /></div>
            <div id="pledge-disclaimer">This is a pledge, I'll receive no money. First, you will receive an email to validate
            your address. When I've reached the goal you set, you will receive another email with a link to the charity website
            and a button to confirm your donation.</div>
            </form>
            <div id="pledge-result">
                <div class="message"></div>
            </div>
        </div>
    </div>
    <div class="pure-u-1-3">
        <div id="info-box">
            <h1>Share</h1>
            <div id="share-buttons">
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
                <span class='st_pinterest_large' displayText='Pinterest'></span>
                <span class='st_email_large' displayText='Email'></span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
var clock = $('#clock').FlipClock({
    clockFace: 'DailyCounter',
    showSeconds: false,
    autoStart: false
});
clock.setTime({{ profile.duration_in_sec }});
clock.start();

$('#pledge-form').submit(function(e){
    e.preventDefault();
    var form = e.target;
    var data = {}
    $.each($(form).serializeArray(), function(){
        data[this.name] = this.value
    });
    $.post($(form).attr('action'), data, function(response){
        if (response.status) {
            $('#pledge-result .message').html(response.message);
            $('#pledge-form').hide();
            $('#pledge-result').show();
        } else {
            $.each(response.errors, function(key, errors){
                $('#id_' + key).after('<small class="error">' + errors.join(' ') + '</small>');
            });
        }
    });
});
</script>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "5a92aa43-cf36-4fba-9863-59aed8b2a340", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
{% endblock %}
