.error {
    color: rgb(202, 60, 60);
}

body {
    background: url('/static/img/binding_dark.png') #434343;
}
.loading {
    height: 32px;
    width: 32px;
    margin: 0 auto;
    background: url('/static/img/loading.gif');
}
#content {
    max-width: 1024px;
    margin: 0 auto;
    background: white;
    padding-bottom: 20px;
}

.messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.messages li {
    padding: 10px;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.messages .success{
    background: rgb(28, 184, 65); /* this is a green */
}

.messages .info{
    background: #0078E7;
}
.messages .warning{
    background: rgb(223, 117, 20);
}
.messages .error {
    background: rgb(202, 60, 60);
}

#footer {
    margin-top: 40px;
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
}

#signup-box, #login-box {
    display: none;
    margin-bottom: 15px;
}

.header {
    text-align: center;
}
.menu {
    display: inline-block;
    margin-bottom: 15px;
    padding: 5px 10px;
    background: #EEE;
    border-radius:0px 0px 8px 8px;
    font-size: 0.8em;
}
.menu a, .menu a:active,
.menu a:visited, .menu a:hover{
    text-decoration: none;
    margin: 0 15px;
    color: #666;
}

/* HELLO BOX */
.hello-box {
    width: 300px;
    height: 200px;
    border-radius: 25px;
    background: #E44436;
    margin: 0 auto;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}

.hello-box h1, .hello-box h2 {
    margin: 0;
    font-family: monospace;
}

.hello-box h1{
    font-size: 2.6em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: 900;
}

.hello-box h2{
    margin-top: -8px;
    margin-bottom: 5px;
    text-transform: lowercase;
}

.hello-box .name {
    height: 80px;
    width: 100%;
    position: relative;
    background: #FDFDFD;
    color: black;
    padding-top: 30px;
    font-size: 2.7em;
    font-weight: bold;
    font-family:cursive;
}

/* END HELLO BOX */

/* SINCE BOX */
#since-box {
    text-align: center;
}
#since-box #since-message {
    font-size: 2.5em;
    font-weight: bold;
}
#clock {
    display: inline-block;
    width: inherit;
    margin: 35px 0 15px 0;
}
@media only screen and (max-width : 480px) {
    #clock .minutes ~ .flip {
       display: none;
    }
    #clock .minutes {
        display: none;
    }
}
#charity-box {
    font-size: 1.8em;
}
/* END SINCE BOX*/

/* BENEFICIARY BOX */
#beneficiary-box {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
#beneficiary-box, #beneficiary-box a {
    color: #000;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}
#beneficiary-box.light, #beneficiary-box.light a {
    color: #FFF;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
}
#beneficiary {
    padding: 35px 0 25px 0;
    font-size: 2em;
}

#beneficiary a {
    text-decoration: none;
}
#beneficiary a:hover{
   text-decoration: underline;
}
#total-amount {
    padding: 25px 0 25px 0;
    font-size: 2.5em;
}
#copyright {
    text-align: left;
    font-size: 0.6em;
    font-weight: normal;
}
/* END BENEFICIARY BOX*/

/* TESTIMONY BOX */
#testimony-box {
    margin: 40px 40px 20px 40px;
    text-align: justify;
    font-family: "Georgia", serif;
    color: #666;
    font-style: italic;
    line-height: 1.8;
    border-left: 5px solid #ddd;
    padding-left: 1.5em;
}
/* END TESTIMONY BOX*/

/* MEDIA BOX */
#media-box {
    margin: 40px auto;
    width: 360px;
    text-align:center;
}
/* END MEDIA BOX*/

/* PLEDGE BOX */
#pledge-box {
    margin: 0 20px;
}
#donate-button {
    text-align: center;
}
#pledge-box input[type=submit] {
    margin: 15px 0;
    padding: 10px;
    font-weight: bold;
}
#pledge-disclaimer {
    font-style: italic;
    font-size: 0.8em;
}
#pledge-loading {
    display: none;
}
/* END PLEDGE BOX*/

/* DONATIONS BOX */
#donations-box {
    margin: 0 20px;
}
.donation-value {
    font-size: 1.8em;
    font-weight: bold;
    margin-top:20px;
    margin-bottom: 25px;
    color: #6E6E6E;
    padding-right:100px;
    text-align: right;
}
/* END DONATIONS BOX*/

/* SHARE BOX */
#info-box {
    margin: 0 20px;
}
#help {
    font-size: 1.3em;
    font-style: italic;
    margin-bottom: 20px;
    text-align: center;
}
#logo {
    text-align: center;
    margin-bottom:20px;
}
#spread {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#share-buttons {
    text-align: center;
}
/* END SHARE BOX*/

/*** EDIT ***/

/* PASSWORD BOX */
#password-box {
    margin: 20px;
}
/* END PASSWORD BOX */

/* EDIT BOX */
#edit-box {
    margin: 20px;
}

#edit-box ul.errorlist {
    color: rgb(202, 60, 60);
    list-style-type: none;
    font-size: 0.9em;
    padding-left: 11em;
}

#password-box fieldset, #edit-box fieldset {
    margin-top: 15px;
}
#password-box legend, #edit-box legend {
    font-size: 160%;
    font-weight: bold;
    color: #666;
}
#edit-box label {
    /*font-size: 1.1em;*/
}
#edit-box input, #edit-box select, #edit-box textarea {
    /*margin-bottom: 20px;*/
}
.pure-form-aligned .pure-control-group input[type="checkbox"] + label {
    display: inline-block;
    width: inherit;
}
#edit-box a {
    font-size: 0.9em;
    color: #666;
}
/* END EDIT BOX */
